/*!
  *   企业二维码登录样式
  */
  
.impowerBox .qrcode {width: 200px;}
.impowerBox .title {display: none;}
.impowerBox .info {width: 200px;}
.status_icon {display：none  !important}
.impowerBox .status {text-align: center;}
  
