<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="employee">
	
	
	 <!-- 查询人员信息集合  	-->
	 <select id="findEmployeeByParam" parameterType="java.util.Map" resultType="com.application.common.employee.dto.EmployeeDTO">
	SELECT  employeeId,employeeName,employeeNo,
	              workDepID,workDepName,genderCode,
	              genderCodeValue, rowsCount
	FROM (
				SELECT a.employeeId, a.employeeName, a.employeeNo,
				                 a.workDepID, b.depName workDepName, a.genderCode,
				                 (CASE
				                          WHEN a.genderCode = 1 THEN '男'
				                           WHEN a.genderCode = 2 THEN '女'
				                 END) genderCodeValue, rownum rowsCount
				FROM     fw_employee a, fw_department b
				where a.isPost ='是' and a.workDepID = b.depId
				<if test="employeeName != null and employeeName != ''">
					and ( instr(b.depName,#{employeeName}) >0 or
					instr(a.employeeName,#{employeeName}) >0)
				</if>
				order by workDepID desc,employeeName
	)
	<where>
	      <if test="showDataLineCount != null and showDataLineCount != ''">
	           <![CDATA[ rowsCount >= #{showDataLineCount}  and rowsCount <= #{showDataLineCount}+20 ]]>
	      </if>
	</where>
	
    </select> 
      
    <!-- 查询人员信息  -->
	<select id="getEmployee"  resultType="com.application.common.employee.dto.EmployeeDTO">
        SELECT   employeeId,
					       employeeName,
					       employeeNo,
					       workDepID,
					       (SELECT depName
					          FROM fw_department
					         WHERE depID = a.workDepId) workDepName,
					       genderCode,
					       (CASE
					           WHEN genderCode = 1 THEN '男'
					           WHEN genderCode = 2 THEN '女'
					        END) genderCodeValue
        FROM      fw_employee a
        where  employeeID = 'E80F103A6FBD4D1D8FA2F1F872C94B08'
    </select> 
	
</mapper>