<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<!-- 获取配置文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:config/applicationContext.xml
		</param-value>
	</context-param>


	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>


	<!-- 获取微信access_token监听 
	<listener>
		<listener-class>com.application.weixin.listener.WeiXinAccessTokenListener</listener-class>
	</listener>-->

	<!-- 设置字体编码格式过滤器 -->
	<filter>
		<filter-name>setEncoding</filter-name>
		<filter-class>com.application.framework.filter.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>setEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- displaytag分页显示 -->
	<filter>
		<filter-name>exportFilter</filter-name>
		<filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>
	</filter>

	<!-- 部署weixinMaven配置start -->
	<servlet>
		<servlet-name>weixinMaven</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:config/springmvc-servlet.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>weixinMaven</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- 部署weixinMaven配置end -->
	
	
	 <!-- 
	  <filter>
		  	<filter-name>DruidWebStatFilter</filter-name>
		  	<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
		  	<init-param>
		  		<param-name>exclusions</param-name>
		  		<param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
		  	</init-param>
	  </filter>
	  <filter-mapping>
	  	<filter-name>DruidWebStatFilter</filter-name>
	  	<url-pattern>/*</url-pattern>
	  </filter-mapping> 
	   -->

	<display-name>weixinMaven</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	

</web-app>
