/*======================================================================
				The global default Style  
=======================================================================*/
body{
	min-height: 100%;
 	/*min-width: 1200px;
	background:#000000;
	background:#fff;*/
	font-size: 14px;
	color: #666;
    -webkit-font-smoothing: antialiased;
    -ms-overflow-style: scrollbar;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family:"Microsoft YaHei UI","Microsoft YaHei",DengXian,Arial,SimSun,"Segoe UI",Tahoma,sans-serif
}
td{
	font-size: 14px;
}
.font12,
.font12 td{
	font-size: 12px;
}
.font14{
	font-size:14px;
}
.font16{
	font-size:16px;
}
.font18{
	font-size:18px;
}
.font24{
	font-size:24px;
}
.font32{
	font-size:32px;
}
.font-bold{
	font-weight: bold;
}



a,
a:hover,
a:visited,
a:focus{
	outline:none!important;
	text-decoration: none;
}
ul, ul>li{
	list-style:none;
}
fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}
legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 40px;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

label, input, button, select, textarea {
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
}
input, button, select, textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
textarea {
	height: auto;
}
label {
	display: block;
	margin-bottom: 5px;
}
.float_none {
	float:none !important;
}
/*======================================================================
						Fonts Size Style  
=======================================================================*/
.font-small{
	font-size: 75%;
}
.font-10{
	font-size: 10px;
}
.font-12{
	font-size: 12px;
}
.font-14{
	font-size:14px;
}
.font-16{
	font-size:16px;
}
.font-18{
	font-size:18px;
}
.font-24{
	font-size:24px;
}
.font-30{
	font-size:30px;
}
.font-36{
	font-size:36px;
}
.font-48{
	font-size:48px;
}
/*======================================================================
					occupied padding style
=======================================================================*/
.padding0{
	padding:0!important;
}
.padding5 {
  padding: 5px!important;
}
.padding10 {
  padding: 10px!important;
}
.padding15 {
  padding: 15px!important;
}
.padding20 {
  padding: 20px!important;
}
.padding30 {
  padding: 30px!important;
}
.padding40 {
  padding: 40px!important;
}
.padding80 {
  padding: 80px!important;
}
.padding-t-0{
	padding-top:0!important;
}
.padding-t-5{
	padding-top:5px!important;
}
.padding-t-10{
	padding-top:10px!important;
}
.padding-t-15{
	padding-top:15px!important;
}
.padding-t-20{
	padding-top:20px!important;
}
.padding-t-25{
	padding-top:25px!important;
}
.padding-b-0{
	padding-bottom:0!important;
}
.padding-b-5{
	padding-bottom:5px!important;
}
.padding-b-10{
	padding-bottom:10px!important;
}
.padding-b-15{
	padding-bottom:15px!important;
}
.padding-b-20{
	padding-bottom:20px!important;
}
.padding-b-25{
	padding-bottom:25px!important;
}
.padding-t-b-0{
	padding-top:0!important;
	padding-bottom:0!important;
}
.padding-t-b-5{
	padding-top:5px!important;
	padding-bottom:5px!important;
}
.padding-t-b-10{
	padding-top:10px!important;
	padding-bottom:10px!important;
}
.padding-t-b-15{
	padding-top:15px!important;
	padding-bottom:15px!important;
}
.padding-t-b-20{
	padding-top:20px!important;
	padding-bottom:20px!important;
}
.padding-t-b-25{
	padding-top:25px!important;
	padding-bottom:25px!important;
}
.padding-t-b-30{
	padding-top:30px!important;
	padding-bottom:30px!important;
}
.padding-t-b-40{
	padding-top:40px!important;
	padding-bottom:40px!important;
}
.padding-l-r-15{
	padding-left: 15px!important;
	padding-right: 15px!important;
}
.padding-l-0{
	padding-left: 0!important;
}
.padding-r-0{
	padding-right: 0!important;
}
/*======================================================================
					occupied margin style
=======================================================================*/
.margin0{
	margin:0!important;
}
.margin-t-5{
	margin-top:5px!important;
}
.margin-t-10{
	margin-top:10px!important;
}
.margin-t-15{
	margin-top:15px!important;
}
.margin-t-20{
	margin-top:20px!important;
}
.margin-t-30{
	margin-top:30px!important;
}
.margin-b-8{
	margin-bottom:8px!important;
}
.margin-b-10{
	margin-bottom:10px!important;
}
.margin-b-15{
	margin-bottom:15px!important;
}
.margin-b-20{
	margin-bottom:20px!important;
}
.margin-b-30{
	margin-bottom:30px!important;
}
.margin-l-r-8{
	margin-left:8px!important;
	margin-right:8px!important;
}
.margin-l-r-10{
	margin-left:10px!important;
	margin-right:10px!important;
}
.margin-l-r-15{
	margin-left:15px!important;
	margin-right:15px!important;
}
.margin-t-b-10{
	margin-top:10px!important;
	margin-bottom:10px!important;
}
.margin-t-b-15{
	margin-top:15px!important;
	margin-bottom:15px!important;
}
.margin-t-b-20{
	margin-top:20px!important;
	margin-bottom:20px!important;
}
.margin-t-b-30{
	margin-top:30px!important;
	margin-bottom:30px!important;
}
/*======================================================================
				Common Style  
=======================================================================*/
.MisYH{
	font-family:"Microsoft YaHei UI","Microsoft YaHei";
}
.Arial{
	font-family:Arial;
}
.textLeft {
	text-align:left!important;
}
.textRight {
	text-align:right!important;
}
.textCenter {
	text-align:center!important;
}
.textNumber {
	text-align:right;
}
.uportal-italic {
	font-style :italic;
}
.uportal-background-warning {
	background:#ff0000;
}
.info {
	color:red;
}
.dateline {
	color:#0f5c97;
}
.disableCustom {
	border:0px white none;
}
.remind{
	color:#f00;
	font-family:Arial, Helvetica, sans-serif;
/*	height:34px;
	line-height:34px;*/s
}
.remind_point{
	color:#f00;
	font-family:Arial, Helvetica, sans-serif;
/*	height:34px;
	line-height:34px;*/
	position: absolute;
	left:-10px;
	margin-top:3px;
}
.left_title{
	position: relative;
}
.disable {
	font-size:12px;
	color:#c0c0c0;
}
img.disabled{
	filter: alpha(opacity=20); 
	opacity: 0.2;
	cursor: default;
}
.NoBorder{
	border:none;
}
.NoHeight{
	height:0!important;
}
.clearBoth{
	clear: both;
}
.uneditable-input,
.uneditable-textarea {
	color: #999999;
	cursor: not-allowed;
	background-color: #fcfcfc;
	border-color: #cccccc;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
	   -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
	        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
}
.radio,
.checkbox {
	min-height: 20px;
	padding-left: 20px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
	float: left;
	margin-left: -20px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
	padding-top: 5px;
}
.radio.inline,
.checkbox.inline {
	display: inline-block;
	padding-top: 5px;
	margin-bottom: 0;
	vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
	margin-left: 10px;
}
.input-mini {
	width: 60px;
}
.input-small {
	width: 90px;
}
.input-medium {
	width: 150px;
}
.input-large {
	width: 210px;
}
.input-xlarge {
	width: 270px;
}
.input-xxlarge {
	width: 530px;
}

/*======================================================================
				displaytag Sort And Export
=======================================================================*/
.table-striped>tbody>tr:nth-child(odd)>th{
	background: #f3f3f4;
	font-size: 14px;
}
/* .table-striped th{
	background: #f3f3f4;
	font-size: 14px;
	
} */
.table-striped>thead>tr>th,
.table-striped th{
	background: #f6f7fb;
	font-size: 14px;
	height:44px;
	color:#494949;
}
.table-striped>tbody>tr>td,
.table-striped td{
	font-size: 14px;
	height:44px;
	color:#333333;
	word-break: break-all;
}




.table-hover tr td{
	border-top:1px #000000 solid !important;
}

.table-hover tr:hover td {
/*	background: #eeeeee !important;*/
	background:#ecfbfb !important;
	border-top:1px #000000 solid !important;
	border-bottom:1px #c6eeee solid !important;
}

th.sorted a{
	color:#f40!important;
}
th.sorted a{
	background-position: right;
	display: block;
	width: 100%;
}
th.sortable a{
	color:#494949;
	background: url(img/arrow_off.png) no-repeat right center;
	text-decoration:none;
	display:inline-block;
	width:95%;
	padding-right:5%;
	line-height:1.2;
}
th.order1 a{
	background: url(img/arrow_down.png) no-repeat right center;
}
th.order2 a{
	background: url(img/arrow_up.png) no-repeat right center
}
div.exportlinks {
	padding: 2px 17px 2px 16px;
	margin: 0 0 22px;
	display: block;
	width: 100%;
	text-align:left;
	font-size:14px;
	display: block;
	clear:both;
}
span.pagelinks {
	font-size:14px;
	display: block;
	float:right;
	color:#999;
	text-align:right;
	border:1px solid #d8d8d8;
	background:#fff;
}
span.pagelinks:after {
	clear:both;
}
span.pagelinks a {
	font-size:14px;
	color:#67707d;
	min-width:12px;
	height:32px;
	line-height:32px;
	text-align:center;	
	display:inline-block;
	margin:0 0 0 -1px;
	padding:0 10px;
	border-left:1px solid #d8d8d8;
	border-right:1px solid #d8d8d8;
	background:#fff;
}
span.pagelinks strong{
	font-size:14px;
	color:#ffffff;
	min-width:12px;
	height:32px;
	line-height:32px;
	text-align:center;
	display:inline-block;
	margin:0 0 0 -1px;
	padding:0 10px;
	border-left:1px solid #d8d8d8;
	border-right:1px solid #d8d8d8;
	background:#68707d;
}
span.pagelinks span{
	font-size:14px;
	color:#999;
	min-width:12px;
	height:32px;
	line-height:32px;
	text-align:center;
	display:inline-block;
	margin:0 0 0 -1px;
	padding:0 10px;
	border-left:1px solid #d8d8d8;
	border-right:1px solid #d8d8d8;
	background:#fff;
}
span.pagelinks a:hover{
	background: #ecefe8;
	color:#08bdc4;
}



span.export {
	display: inline-block;
	cursor: pointer;
	line-height:1.8;
	vertical-align:middle;
	text-align:3px;
}
a .export{
	color:#08c;
}
span.pagebanner {
	padding: 2px 17px;
	display: block;
	text-align:left;
	float:left;
	color:#333333;
}
.empty{
	text-align: left;
}
/*======================================================================
				common Table style
=======================================================================*/
.tabular{
	text-align:left;
	border:1px solid #d1d1d1;
	background:#ffffff;
	margin: 0 auto 8px;
	width: 100%;
}
.tabular th{
	text-align:right;
	color:#585858;
	font-weight:normal;
	line-height:1.5;
	padding:8px;
	font-size:12px;
	white-space:nowrap;
	border:1px solid #d1d1d1!important;
	background:#f6f6f6;
}
.tabular td{
	padding:8px;
	text-align:left;
	border:1px solid #d1d1d1;
	white-space:normal!important;
}
.tdNoBreak, .tdNoBreak td{
	white-space:nowrap;
}
/*======================================================================
				search Table style
=======================================================================*/
.Search_Tab{
	position: relative;
	padding:8px 100px 8px 8px;
	background: #ffffff;
	border-bottom:1px solid #dddddd;
}
.Search_Tab table {
	border:none;
	margin-bottom: 0;
	table-layout: fixed;
}
.Search_Tab th{
	text-align:right;
	border:none !important;
}
.Search_Tab td{
	border:none !important;
}
.Search_Tab td, 
.Search_Tab td input,
.Search_Tab td button, 
.Search_Tab td select,
.Search_Tab td img, 
.Search_Tab td span{
	vertical-align:middle!important;
}
.Search_Tab .search-btn {
	position: absolute;
	right: 15px;
	bottom: 18px;
	
}
/*======================================================================
					Tab. page style
=======================================================================*/
.MyTabs{
	border-bottom-color:#d1d1d1;
	margin-bottom:10px;
	padding-left:10px;
	-webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}
.MyTabs>li {
	position: relative;
	display: block
}
.MyTabs>li>a{
	display: block;
	padding: 4px 25px;
	border-top:3px solid transparent;
	font-size:18px;
	line-height:1.5;
	color:#101010;
	outline:none;
}
.MyTabs>li>a:hover,
.MyTabs>li>a:focus {
	border-color:#ebebeb;
	border-bottom:1px solid #d1d1d1;
	border-top:3px solid transparent;
}

.MyTabs>li.active>a,
.MyTabs>li.active>a:hover,
.MyTabs>li.active>a:focus {
	color: #555555;
	cursor: default;
	background-color: #f4f5f6;
	border: 1px solid #d1d1d1;
	border-top:3px solid #43b0d9;
	border-bottom-color: #f4f5f6;
	background: linear-gradient(top, #ffffff 10%,#f4f5f6 100%); /* W3C */
	background: -o-linear-gradient(top, #ffffff 10%,#f4f5f6 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 10%,#f4f5f6 100%); /* IE10+ */
	background: -moz-linear-gradient(top, #ffffff 10%, #f4f5f6 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #ffffff 10%,#f4f5f6 100%); /* Chrome10+,Safari5.1+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(10%,'#ffffff'), color-stop(100%,'#f4f5f6')); /* Chrome,Safari4+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f5f6',GradientType=0 ); /* IE6-9 */
}

.MyTabs-con > .MyTabs-pane{
	display: none;
}

.MyTabs-con > .active{
	display: block;
}
/*======================================================================
					Modify bootstrap style
=======================================================================*/
.table-bordered-evaluation{
	border-left:1px solid #eaeaea;
	border-right:1px solid #eaeaea;
	border-bottom:1px solid #eaeaea;
}
.table-striped-evaluation>thead>tr>th,
.table-striped-evaluation th{
	background: #f7f8fa;
	font-size: 14px !important;
	height:35px;
	color:#333333;
	white-space:nowrap;
	border-top:none !important;
}



.table-bordered{
/*	border:1px solid #d1d1d1!important;*/
	border:none !important;
/*	background: #ffffff;*/
}
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th{
/*	border-top:1px solid #eaeaea !important;*/
	border-bottom:1px solid #eceff8 !important;
	font-size:14px !important;
	border-left:none !important;
	border-right:none !important;
	white-space:nowrap;
}
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td{
	border-bottom:1px #eceff8 solid !important;
	border-left:none !important;
	border-right:none !important;
/* 	height:55px; */
}


.table>thead>tr>th:first-child {
	padding-left:30px !important;
}
.table>tbody>tr>th:first-child {
	padding-left:30px !important;
}
.table>tbody>tr>td:first-child {
	padding-left:30px !important;
}

/*.table>tbody>tr>td{
	padding-left:50px !important;
}*/

.table>thead>tr>th, 
.table>tbody>tr>th, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>tbody>tr>td, 
.table>tfoot>tr>td{
	padding: 8px 0px 8px 0px;
	vertical-align:middle;
	border-top: 1px solid #eaeaea;
}


/*.container-fulid .table-striped>tbody>tr>td a{
	color:#368486;
}
.container-fulid .table-striped>tbody>tr>td a:hover{
	color: #1f5f61 !important;
}

/*.container-cont>.table-striped>tbody>tr>td a{
	color:none !important;
}
.container-cont>.table-striped>tbody>tr>td a:hover{
	color:none !important;
}*/


.table-striped>tbody>tr:nth-child(odd)>td{
/*	background-color:#f8f8f8;*/
}
.table-striped>tbody>tr:nth-child(even)>td{
/*	background-color:#ffffff;*/s
}
.table-striped>tbody>tr.odd>td{
/*	background-color:#f8f8f8;*/
}
.table-striped>tbody>tr.even>td{
/*	background-color:#ffffff;*/
}
.table-striped>tbody>tr.odd>td a{
	color: #368486 !important ;
}
.table-striped>tbody>tr.odd>td a:hover{
	color: #1f5f61 !important ;
}

.table-striped>tbody>tr.even>td a{
	color: #368486 !important ;
}
.table-striped>tbody>tr.even>td a:hover{
	color: #1f5f61 !important ;
}



.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td{
	padding:8px 0px;
	line-height:1.42857143;
	border-top:none;
	vertical-align:middle;
}
.table>tr>td{
	text-align: left;
}
.thumbnail{
	background: transparent;
}
/*======================================================================
					occupied style
=======================================================================*/
.padding0{
	padding:0!important;
}
.padding5 {
  padding: 5px;
}
.padding10 {
  padding: 10px;
}
.padding15 {
  padding: 15px;
}
.padding20 {
  padding: 20px;
}
.padding30 {
  padding: 30px;
}
.padding40 {
  padding: 40px;
}
.padding80 {
  padding: 80px;
}
.paddingTopAndBottom5{
	padding-top:5px;
	padding-bottom:5px;
}
.paddingTopAndBottom10{
	padding-top:10px;
	padding-bottom:10px;
}
.paddingTopAndBottom15{
	padding-top:15px;
	padding-bottom:15px;
}
.paddingTopAndBottom20{
	padding-top:20px;
	padding-bottom:20px;
}
.paddingTopAndBottom25{
	padding-top:25px;
	padding-bottom:25px;
}
.paddingTopAndBottom30{
	padding-top:30px;
	padding-bottom:30px;
}
.paddingTopAndBottom40{
	padding-top:40px;
	padding-bottom:40px;
}

.marginTop5{
	margin-top:5px;
}
.marginTop10{
	margin-top:10px;
}
.marginTop15{
	margin-top:15px;
}
.marginTop20{
	margin-top:20px;
}
.marginTop30{
	margin-top:30px;
}
.marginBottom8{
	margin-bottom:8px;
}
.marginBottom10{
	margin-bottom:10px;
}
.marginBottom15{
	margin-bottom:15px;
}
.marginBottom20{
	margin-bottom:20px;
}
.marginBottom30{
	margin-bottom:30px;
}
.marginLeftAndRight8{
	margin-left:8px;
	margin-right:8px;
}
.marginLeftAndRight10{
	margin-left:10px;
	margin-right:10px;
}
.marginLeftAndRight15{
	margin-left:15px;
	margin-right:15px;
}
.marginTopAndBottom10{
	margin-top:10px;
	margin-bottom:10px;
}
.marginTopAndBottom15{
	margin-top:15px;
	margin-bottom:15px;
}
.marginTopAndBottom20{
	margin-top:20px;
	margin-bottom:20px;
}
.marginTopAndBottom30{
	margin-top:30px;
	margin-bottom:30px;
}
.clearfix {
	*zoom: 1;
}
.clearfix:before,
.clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after {
	clear: both;
}
/*======================================================================
		Teaching Neme Change style
=======================================================================*/
.oldUsePlanItem{
	display: inline-table;
	float:left;
	clear: both;
	margin-top: 2px;
	margin-bottom: 2px;
}
.addUsePlanItem{
	color:#628e00;
	background:#f7f7bb;
	display: inline-table;
	float:left;
	clear: both;
	margin-top: 2px;
	margin-bottom: 2px;
}
.delUsePlanItem{
	color:#aeaeae;
	text-decoration: line-through;
	margin-top: 2px;
	margin-bottom: 2px;
	float:left;
	clear: both;
}
.revertUsePlanItem{
	color: #f06600;
	border:1px dashed #f09e00;
	box-sizing:border-box;
	display: inline-table;
	float:left;
	clear: both;
	margin-top: 2px;
	margin-bottom: 2px;
}
.break-word {
	white-space: pre; /* CSS2 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap; /* HP printers */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
	word-break:break-all;
}



/*======================================================================
		            errormsg style
=======================================================================*/
div#errormsg{
	text-align: left;
	line-height: 1.8;
	font-size: 14px;
	color: #f00;
}
.uportal-channel-error{
	color: #f00;
}
div.help{
	border: 1px dotted #d89d19;
	line-height: 1.6;
	background-color: #fffdf5;
}
.my-animation .border-color-orangeDark,
.my-animation .border-color-yellow,
.my-animation .border-color-LightSeaGreen,
.my-animation .border-color-teal{
	-webkit-transition-property: background, color;
	-moz-transition-property: background, color;
	-o-transition-property: background, color;
	transition-property: background, color;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.my-animation:hover .border-color-orangeDark{
	color:#da5300!important;
	background: #fff!important;
}
.my-animation:hover .border-color-yellow{
	color:#ffc40d!important;
	background: #fff!important;
}
.my-animation:hover .border-color-LightSeaGreen{
	color: #39b7ac!important;
	background: #fff!important;
}
.my-animation:hover .border-color-teal{
	color: #008080!important;
	background: #fff!important;
}

.tabular1{
	text-align:left;
	margin: 0 auto 8px;
	width: 100%;
}

.tabular1 td{
	padding:8px;
	text-align:left;
	white-space:normal!important;
}
.tabular1 th{
	text-align:right;
	color:#585858;
	font-weight:normal;
	line-height:1.5;
	padding:8px;
	font-size:12px;
	white-space:nowrap;
	background:#f6f6f6;
}
.tabular1 td.border{ border-bottom:1px solid #d1d1d1;}
.table_bt{ width:100%; font-size:14px; font-weight:bold; }


.container-fulid{
	padding:15px 0px 0px 0px;
}

.btn-form{
	width:100%;
	margin-bottom:15px;	
	padding:0px 16px 0px 16px;
/*	padding:0px 0px 0px 0px;*/
}

.btn-form-right{
	padding-right:21px;
}

.bottom-button{
	width:100%;
	text-align:center;
	margin-top:20px;
}
/*椤甸潰搴曢儴鍥哄畾鎸夐挳*/
.freeFormButton_wrap {
	padding-bottom:50px;
}
#freeFormButton {
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	padding:5px;
	text-align:center;
	border-top:1px solid #d1d1d1;
	background:#fafafa;
}
pre{
	color:#666666 !important;
}

.modal-header{
    padding-top:10px;
    padding-right:5px;
    padding-bottom:10px;
    min-height:18px;
}
.modal-header .close{
    display:inline-block;
    padding:5px 10px;
    text-align:center;
    filter:alpha(opacity=100);
}
.modal-header .close:hover{
    background:#d44027;
}       
/*鍛樺伐绻佸繖搴�*/
#work-tab{
  width:97%;
  height:38px;
  margin:15px 1.5%;
  border-bottom:1px solid #cccccc;
}
#work-tab li{
  float:left;
  margin-right:10px;
}
#work-tab li a{
  display:inline-block;
  padding:8px 15px 7px;
  color:#333;
}
#work-tab li:hover,#work-tab li.active{
  background:#fff !important;
  border-left:1px solid #cccccc;
  border-right:1px solid #cccccc;
  border-top:3px solid #0a6464;
}
#work-tab li:hover a,#work-tab li.active a{
  padding:5px 15px 10px;
  color:#0a6464;
}
/*鍛樺伐鎬佸娍鍥�*/
.select-menu{
  float:left;
  margin-top:-10px;
  height:38px;
}
.select-menu li {
  float:left;
  margin-left:15px;
}
.select-menu li a{
  display:block;
  padding:0 15px;
  color:#454545;
  line-height:38px;
  text-align: center; 
}
.select-menu li:hover a,.select-menu li.active a{
  line-height:34px;
  background:#fff;
  border-top:3px solid #0a6464;
}
.select-menu li.dep-menu,.select-menu li.list-menu{
  position:relative;
}
.select-menu ul.second-menu{
  display:none;
  position:absolute;
  right:8px;
  top:38px;
  margin:0;
  padding:0;
  background:#fff;
  border:1px solid #ccc;
  z-index:9999;
  text-align:left!important;
}
.select-menu ul.second-menu li{
	padding:0 10px;
	margin:0;
}
.select-menu ul.second-menu a{
	display:inline-block;
	white-space:nowrap;
	padding:0;
}
.select-menu ul.second-menu li{
  float:none;
}
.select-menu ul.second-menu li a{
  border-top:0px;
  text-align:left;
}
.select-menu ul.second-menu li a:hover{
  color:#08c;
}
.select-box{
  position:absolute;
  right:0;
  top:38px;
  padding:10px;
  width:260px;
  background:#fff;
  border:1px solid #ccc;
  display:none;
  z-index:9999;
}
.select-box span{
  display:inline-block;
  width:75px;
} 

/*椤圭洰璇勫椤甸潰鏍峰紡*/
h2.title{
	font-size:20px;
	font-weight:600;
	padding-bottom:10px;
	margin-bottom:0;
	border-bottom:3px solid #dddddd;
}
.list-table{
	width:100%;
}
.list-table tr.th-title th{
	color:#888;
	padding:10px 0;
}
.list-table td{
	font-size:16px;
	color:#333;
	vertical-align:middle;
	background-color:#f5f5f5;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
}
.list-table td.listbox-left{
	width:10px;
	height:38px;
	background:url(../images/listbox_leftbg.png) no-repeat top right;
}
.list-table td.listbox-right{
	width:10px;
	height:38px;
	background:url(../images/listbox_rightbg.png) no-repeat top left;
}
.list-table td.listbox-left,.list-table td.listbox-right,.list-table td.listbox-height{
	border-top:none;
	border-bottom:none;
	background-color:#fff;
}
.team-title{
	padding-left:10px;
}
.count-star{
	min-width:240px;
	padding-right:20px;
}
#warp ul{
 list-style:none;
 width:240px;
 margin: 0px auto;
 padding: 0px;
}

#warp li{
  list-style:none;
	float:left;
	margin:0px;
	padding:0px;
	margin-right:2px;
	font-size: 16px;
}
.box{
  width:22px;
	height:22px;
	text-align:left;
  background:url(../images/star1.png) no-repeat;
}
.pic{
  width:100%;
  height:22px;
	overflow:hidden;
}
.w1{
  width:11%;
}
.w2{
  width:20%;
}
.w3{
  width:30%;
}
.w4{
  width:40%;
}
.w5{
  width:50%;
}
.w6{
  width:60%;
}
.w7{
  width:70%;
}
.w8{
  width:80%;
}
.w9{
  width:90%;
}
.warp ul,.warp li{
 margin: 0;
 padding: 0;
}
.warp li{
	float:left;
	font-size: 16px;
}
.score_text{
	float: left;
	margin-left: 10px;
	font-size: 18px;
	color: #f00;
}
.form-inline .form-control{
	display:inline-block;
}
/*鐜板満鏇存柊*/  
/*findDevelopProjectUpdate*/
.black_overlay{   
            display: none;   
            position:fixed; 
            top: 0%;   
            left: 0%;   
            width: 100%;   
            height: 100%;   
            background-color: black;   
            z-index:1001;   
            -moz-opacity: 0.6;   
            opacity:.60;   
            filter: alpha(opacity=66);   
        }   
 .white_content {   
            overflow: auto;   
           text-align:left;
            display: none;   
            position: fixed;   
            top: 25%;   
            left: 25%;   
            width: 55%;   
            height: 55%;   
            padding: 20px;   
            border: 2px solid #C8E0FB;   
            background-color: white;   
            z-index:1002;   
 }
  .showProjectClose{
        position: absolute; 
        right:0; 
        top:0;
        width:12px; 
        height:12px;
        background-color: #fff;
  }
  .showMoreLess{
		  overflow:hidden;
		  text-overflow: ellipsis;
		  white-space:nowrap;
		  max-width:65px;
		  width:65px;
		  display:block;
  }     
        
/*modifyProjectUpdate*/        
  .content{     
   margin-top:0px;
	border:solid #AEC7E1 2px;     
	width:200px;
	border-top: 0px;
	height: auto; 
	display:none;       
 }         

.item{
    font-size:14px;
    width:300px;
   cursor:pointer;
 }  
 
 .textareaDdit{
   border: 0px;
}  
.recipientNameSelect{
position:relative;
}
.recipientNameSelect .content{
position: absolute; top:37px; left:9px; background-color:#fff;
}


/*缁╂晥鑰冭瘎*/
.team-title{
	margin-top:0;
	padding-bottom:8px;
	font-size:18px;
	border-bottom:2px solid #ddd;
}
.quarter-score {
	display: inline-block;
	margin-bottom: 11px;
	padding:0;
	width: 100%;
}
.quarter-score ul {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 100%;
}
.quarter-score li.list-group-item{
	width:100%;
	text-align: left;
	padding: 5px 15px;
}

/********鍦ㄧ嚎璇勪环*********/
.max-width-1000{
	width:1000px;
	margin:10px auto;
}
.list-cont,.list-cont li{
	margin:0;
	padding:0;
	list-style:none;
}
.list-cont li{
	position:relative;
	display:inlen-block;
	width:134px;
	float:left;
}
.box-list{
	float:left;
	width:108px;
	height:130px;
	margin:0 15px 10px 15px;
	background:url(../images/listbox_bg.png) no-repeat;
}
.numbox{
	display:inline-block;
	width:100%;
	padding:15px 4px;
	text-align:center;
}
.box-list a span{
	display:inline-block;
	width:100%;
	color:#454545;
/*	line-height:40px;*/
	line-height:22px;
}
.box-list span.teamname{
	font-size:16px;	
	margin-top:40px;
}
.box-list span.teamcore{
	font-size:20px;
	color:#f56c42;
	font-weight: bold;
}
.box-list span.pj_button{
	width:56px;
	height:20px;
	margin-top:7px;
	line-height:20px;
	text-indent:-5px;
	color:#fff;
	background:url(../images/pj_btn.png) no-repeat;
}
.list-cont li  .handle-list{
	display:none;
/*	position:absolute;
	right:15px;
	top:0px;
	width:100%;
	height:20px;
	padding:0;
	line-height:20px;
	text-align:right;
	cursor:pointer;*/
}
.list-cont li:hover .handle-list{
	display:block;
	position:absolute;
	right:15px;
	top:0px;
	width:100%;
	height:20px;
	padding:0;
	line-height:20px;
	text-align:right;
	cursor:pointer;
}
/**************鐏嫄hack*****************/
@-moz-document url-prefix() {.list-cont li:hover .handle-list{top:5px;}}

.picbox-list{
	height:160px;
	margin-bottom:30px;
}
.picbox{
	display:inline-block;
	width:108px;
	height:108px;
	padding:5px 4px;
	text-align:center;
}
.picbox-list a  span {
	width:100%;
}
.picbox-list span.teampic{
     width:100%;
}
.picbox-list span.teamname{
/*	float:left;*/
	margin-top:8px;
}
.picbox-list span.teamcore{
/*	float:right;*/
	font-size:20px;
	color:#f56c42;
	font-weight: bold;
}
.picbox-list span.pj_button{
/*	float:right;*/
	margin:8px 0 0;
	text-align:center;
}
.viewbox-list{
	margin:0 auto;
}
.viewbox-list ul,.viewbox-list li{
	/*margin:0 10px;*/
	margin:0px 5px;
	padding:0;
}
.viewbox-list ul li{
	border-bottom:1px solid #d1d1d1;
}
.viewbox-list ul li a{
	display:block;
	padding:15px 10px 10px;
	font-size:16px;
	color:#368486;
}
.viewbox-list ul li a span{
	display:inline-block;
}
.viewbox-list span.numcore{
	float:right;
	font-size:18px;
	color:#368486;
}
.viewbox-list ul li:hover{
	background:#ecfbfb;
}

.pop-content {
  margin: auto;
  max-width: 970px;
  border-top: 0;
  background: #ffffff;
  border-radius: 0 0 4px 4px;
}
.modal-content{
	border:none !important;
}




.navbar-header{
	height:58px;
}
.navbar-nav li a{
	padding-top:0px !important;
}








/********************閸愬懘鍎存穱鈩冧紖閸栨牗鐗卞蹇庢叏閺�锟�********************************/

/*********鍒犻櫎鎸夐挳鏍峰紡浠庡畾涔夊紑濮�********/
.btn-success_delete{
	color: #fff !important;
	background-color: #de6060;

}
.btn-success_delete.active,.btn-success_delete:active,.open>.dropdown-toggle.btn-success_delete {
	color: #fff !important;
	background-color: #ca5555;

}
.btn-success_delete.focus,.btn-success_delete:focus {
	color: #fff !important;
	background-color: #ca5555;

}
.btn-success_delete.focus,.btn-success_delete:focus {
	color: #fff !important;
	background-color: #ca5555;

}
.btn-success_delete:hover {
	color: #fff !important;
	background-color: #ca5555;

}
.btn-success_delete.active,.btn-success_delete:active,.open>.dropdown-toggle.btn-success_delete {
	color: #fff !important;
	background-color: #ca5555;

}
/*********鍒犻櫎鎸夐挳鏍峰紡浠庡畾涔夌粨鏉�********/




/*********btn-success娣诲姞鎸夐挳鏍峰紡閲嶅畾涔夊紑濮�********/
.btn-success {
	color: #fff !important;
	background-color: #08bfc3;
    border:none;
	

}
.btn-success.active,.btn-success:active,.open>.dropdown-toggle.btn-success {
	color: #fff !important;
	background-color: #08a9ad !important;

}
.btn-success.focus,.btn-success:focus {
	color: #fff !important;
	background-color: #08a9ad !important;

}
.btn-success.focus,.btn-success:focus {
	color: #fff !important;
	background-color: #08a9ad !important;

}
.btn-success:hover {
	color: #fff !important;
	background-color: #08a9ad !important;

}
.btn-success.active,.btn-success:active,.open>.dropdown-toggle.btn-success {
	color: #fff !important;
	background-color: #08a9ad !important;

}
/*********btn-success娣诲姞鎸夐挳鏍峰紡閲嶅畾涔夌粨鏉�********/


/*/*********娣诲姞鎸夐挳鏍峰紡閲嶅畾涔夊紑濮�********/
.btn-success_add {
	color: #fff !important;
	background-color: #08bfc3 !important;

}
.btn-success_add.active,.btn-success_add:active,.open>.dropdown-toggle.btn-btn-success_add {
	color: #fff !important;
	background-color: #08a9ad !important;

}
.btn-success_add.focus,.btn-success_add:focus {
	color: #fff !important;
	background-color: #08a9ad !important;

}
.btn-success_add.focus,.btn-btn-success_add:focus {
	color: #fff !important;
	background-color: #08a9ad !important;

}
.btn-success_add:hover {
	color: #fff !important;
	background-color: #08a9ad !important;

}
.btn-success_add.active,.btn-btn-success_add:active,.open>.dropdown-toggle.btn-btn-success_add {
	color: #fff !important;
	background-color: #08a9ad !important;

}
/*********btn-success娣诲姞鎸夐挳鏍峰紡閲嶅畾涔夌粨鏉�********/



/*********淇敼鎸夐挳鏍峰紡閲嶅畾涔夊紑濮�********/
.btn-success_xg {
	color: #fff !important;
	background-color: #08bfc3;

}
.btn-success_xg.active,.btn-success_xg:active,.open>.dropdown-toggle.btn-success_xg {
	color: #fff !important;
	background-color: #08a9ad;

}
.btn-success_xg.focus,.btn-success_xg:focus {
	color: #fff !important;
	background-color: #08a9ad;

}
.btn-success_xg.focus,.btn-success_xg:focus {
	color: #fff !important;
	background-color: #08a9ad;

}
.btn-success_xg:hover {
	color: #fff !important;
	background-color: #08a9ad;

}
.btn-success_xg.active,.btn-success_xg:active,.open>.dropdown-toggle.btn-success_xg {
	color: #fff !important;
	background-color: #08a9ad;

}
/*********淇敼鎸夐挳鏍峰紡閲嶅畾涔夌粨鏉�********/


/*********閹兼粎鍌ㄩ幐澶愭尦閺嶅嘲绱℃禒搴＄暰娑斿绱戞慨锟�********/
.btn-success_sc {
	color: #fff !important;
	background-color: #08bfc3;

}
.btn-success_sc.active,.btn-success_sc:active,.open>.dropdown-toggle.btn-success_sc {
	color: #fff !important;
	background-color: #08a9ad;

}
.btn-success_sc.focus,.btn-success_sc:focus {
	color: #fff !important;
	background-color: #08a9ad;

}
.btn-success_sc.focus,.btn-success_sc:focus {
	color: #fff !important;
	background-color: #08a9ad;

}
.btn-success_sc:hover {
	color: #fff !important;
	background-color: #08a9ad;

}
.btn-success_sc.active,.btn-success_sc:active,.open>.dropdown-toggle.btn-success_sc {
	color: #fff !important;
	background-color: #08a9ad;

}
/*********閹兼粎鍌ㄩ幐澶愭尦閺嶅嘲绱℃禒搴＄暰娑斿绮ㄩ弶鐒憂d********/



/*********绀轰緥鎸夐挳鏍峰紡浠庡畾涔夊紑濮�********/
.btn-success_button{
	color: #08bfc3;
	background-color: #ffffff;
	border:1px #08bfc3 solid;
}
.btn-success_button.active,.btn-success_button:active,.open>.dropdown-toggle.btn-success_button {
	color: #000000;
	background-color: #ffffff;

}
.btn-success_button.focus,.btn-success_button:focus {
	color: #000000;
	background-color: #ffffff;

}
.btn-success_button.focus,.btn-success_button:focus {
	color: #000000;
	background-color: #ffffff;

}
.btn-success_button:hover {
	color: #000000;
	background-color: #ffffff;

}
.btn-success_button.active,.btn-success_button:active,.open>.dropdown-toggle.btn-success_button {
	color: #000000;
	background-color: #ffffff 

}
/*********绀轰緥鎸夐挳鏍峰紡浠庡畾涔夌粨鏉�********/



/****************鐏嫄銆佽胺姝屾祻瑙堝櫒鍦嗚灞炴��*******************************************************/
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}

.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle){
	border-radius:4px !important;
}
.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child){
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
}
/****************鐏嫄銆佽胺姝屾祻瑙堝櫒鍦嗚灞炴��*******************************************************/

.btn-group{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.btn-group .btn{
	margin-right:10px !important;
}
.pull-right{
	float:right !important;
}


/************閸欏厖鏅堕幖婊呭偍濡楀棝鍣哥�规矮绠熼弽宄扮础瀵拷婵拷************/
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.input-width {
    height: 34px;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.search-left-box{
	float:left;
}
.search-right-box{
	float:left; margin-left:10px;
}
.input-pod{
	float:left; position: relative;
}


.jiantou{
	margin:0px;
	padding:0px;
	width:36px;
	height:34px;
	border:none;
	float:left;
	background: url(img/jiantoupci.png) no-repeat;
	position:absolute;
	right:78px;
}

/************閸欏厖鏅堕幖婊呭偍濡楀棝鍣哥�规矮绠熼弽宄扮础缂佹挻娼玡nd************/


/*****************鐏嫄銆佽胺姝屾祻瑙堝櫒琛ㄦ牸鑳屾櫙棰滆壊**************************/
.table-striped > tbody > tr:nth-child(2n+1) > td{
/*	background:#ffffff !important;*/
}
.table-striped > tbody > tr:nth-child(2n+1):hover > td{
	background:#ecfbfb !important;
}

.table-striped > tbody > tr:nth-of-type(2n+1){
	background: none;
}
.table-striped > tbody > tr:nth-of-type(2n+1){
	background: none;
}
/*****************鐏嫄銆佽胺姝屾祻瑙堝櫒琛ㄦ牸鑳屾櫙棰滆壊**************************/



.search-box{
	border:1px #d7d9d9 solid;
	border-radius:4px;
	background:#ffffff;
	width:400px !important;
}



.pull-bottom{
	margin-bottom:15px;
}


.logo{
	background: url(img/gds_logo.png) no-repeat left center;
	width:103px;
	height:58px;
	display:black;
}

.table-search{
	width:100%;
	margin:0px;
	padding:0px;
}
.table-search > tbody > tr > th{
	text-align: center;
	font-size: 14px;
	height:70px;
	border-bottom:2px #f3f3f4 solid;
}
.table-search > tbody > tr > td{
	font-size: 14px;
	height:70px;
	border-bottom:2px #f3f3f4 solid;
	padding-right:30px;
}


.table-striped_cont > tbody > tr > td{
	padding-left:20px;
}


.table_bold{
	margin:0px;
	padding:0px;
	font-weight:bolder;
}

.top_bottom{
	margin-top:-15px !important;
}







.btn.active, .btn:active {
    background-image: none !important;
    outline: 0 !important;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0) !important;
    box-shadow: inset 0 0px 0px rgba(0,0,0,0) !important;
}







/***********閸︺劎鍤庣拠鍕幆缁崵绮洪弽宄扮础************/
.pj_line{
	position:absolute; 
	left:12px; 
	background:#08bfc3; 
	height:16px; 
	width:3px;
}

.panel-body{
	padding-bottom:5px;
}

/**************閺冦儱绻旈弻銉嚄閺傛澘濮為弽宄扮础******************/
.log_cont{
	margin:0px 0px 20px 2px;
	padding:0px 15px;
	background:#ffffff;
}
.log_cont_top{
	margin:0px;
	padding:0px 15px;
	height:58px;
	line-height:58px;
	border-bottom:1px #f2f2f2 solid;
}
.log_cont_top .log_top_left{
	margin:0px;
	padding:0px;
	float:left;
}
.log_cont_top .log_top_left h2{
	font-size:18px;
	color:#010101;
	float:left;
}
.log_cont_top .log_top_left .project{
	font-size:14px;
	float:left;
	margin-left:30px;
}
.log_cont_top .log_top_left .workhours{
	font-size:14px;
	float:left;
	margin-left:18px;
}
.log_cont_top .log_top_time{
	margin:0px;
	padding:0px;
	float:right;
	color:#9f9f9f;
}
.log_cont_bottom{
	margin:0px;
	padding:15px 15px 10px 15px;
}
.log_cont_bottom p{
	font-size:14px;
	line-height:28px;
}
.clear{
	clear: both;
}
/**********妯℃�佸眰澶撮儴*********/
.modal-header{
	background:#0a6464;
}
.modal-title{
	color:#ffffff;
}


.container{
	position:relative;
	padding-top:15px;
}


.list{
	
}
.list h4{
	margin:0px 0px 10px 0px;
	padding:0px;
	color:#f00;
	height:30px;
	border-bottom:1px #dddddd solid;
	position: relative;
	text-indent: 20px;
}
.left_line{
	background: #08bfc3;
	height:15px;
	width:3px;
	position: absolute;
	top:5px;
}






/*********************婢跺秴鎮庨崘鍛淬�夐弽宄扮础娣囶喗鏁�*****************************/
.container-normal{
	margin:0px auto;
	width:1000px !important;
}
.container-min{
	margin:0px auto;
	width:900px !important;
}
.container-max{
	margin:0px auto;
	width:1200px !important;
}


.container-cont{
	margin:0px auto;
	padding:0px;
	border-bottom:1px #efefef solid;
	margin:0px 20px 0px 20px;
	padding:30px 0px 0px 0px;
}
.container-cont h2{
	margin:0px 0px 20px 0px;
	padding:0px;
	color:#000000;
	height:30px;
	position: relative;
	font-size:28px;
}

.dl-horizontal{
	padding:0px 40px !important;
}
.border-bottom .border-bottom-top{
	width:160px;
	padding:30px 0px 10px 5px;
	font-size:20px;
	color:#000000;
}
.cont-table .con-table-total{
	float:right;
	height:35px;
	line-height:35px;
}

.dl-horizontal dt{
	margin:0px;
	padding:30px 0px 10px 5px;
	text-align: left !important;
	width:160px !important;
	font-size:20px !important;
	color:#000000 !important;
	font-weight: normal !important;
}
.dl-horizontal .border-bottom dd{
	margin:0px;
	padding:35px 0px 20px 0px;
	margin-left:180px !important;
	font-size:14px !important;
}
.dl-horizontal .border-bottom{
	padding-bottom:20px;
	border-top:1px #efefef solid;
}


.container-top{
	margin:0px;
	padding:0px;
	padding:40px;
	border-bottom:1px #efefef solid;
}
.border-bottom:first-child{
	border-top:none;
}
.container-title{
	margin:0px;
	padding:0p;
	float:left;
	width:10%;
}
.container-title h4{
	margin:0px;
	padding:0px;
	font-size:14px;
}
.container-right{
	margin:0px;
	padding:0px;
	margin:0px;
	float:left;
	width:90%;
}

.cont-table{
	margin:0px;
	padding:0px;
	padding-bottom:10px;
	overflow: auto;
}
.cont-table .table{
	border-left:1px #eaeaea solid !important;
	border-right:1px #eaeaea solid !important;
}
.cont-table .table-striped>tbody>tr:nth-child(odd)>th{
	background: #f3f3f4;
	font-size: 14px !important;
}
.cont-table .table-striped>thead>tr>th,
.cont-table .table-striped th{
	background: #f7f8fa;
	font-size: 14px !important;
	height:40px;
	color:#333333;
	white-space:nowrap;
}


.cont-table .table-striped>tbody>tr>td,
.cont-table .table-striped td{
	font-size: 14px !important;
	height:40px;
	color:#333333;
}











.cont-table dd .table{
	border-left:1px #eaeaea solid !important;
	border-right:1px #eaeaea solid !important;
}
.cont-table dd .table-striped>tbody>tr:nth-child(odd)>th{
	background: #f3f3f4;
	font-size: 14px !important;
}
.cont-table dd .table-striped>thead>tr>th,
.cont-table dd .table-striped th{
	background: #f7f8fa;
	font-size: 14px !important;
	height:40px;
	color:#333333;
}


.cont-table dd .table-striped>tbody>tr>td,
.cont-table dd .table-striped td{
	font-size: 14px !important;
	height:40px;
	color:#333333;
}


/* .dl-horizontal dd ul{
	margin:0px;
	padding:0px;
}
.dl-horizontal dd ul li{
	float:left;
	margin-right:50px;
	font-size:14px;
} */

.cont-table .list-inline .strong{
	font-weight:bold;
	color:#060f1e;
}

.dl-horizontal dd .strong{
	font-weight:bold;
	color:#060f1e;
}
.dl-horizontal dd .remind-bold{
	color:#f00;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
}

pre{
	margin:0px !important;
	padding:0px !important;
	background: none;
	border:none;
	font-size:12px;
	line-height:25px;
}

.deviceReview1{
	margin:0px;
	padding:0px;
	font-size:16px;
	margin-bottom:20px;
	text-align: left !important;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}


.list-inline{
	margin-top:30px;
	margin-bottom:30px;
	padding-left:10px;
}
.list-inline li{
	padding-right:50px;
	font-size:14px;
	text-align: left;
}    
pre{
	font-family: "Microsoft YaHei UI", "Microsoft YaHei", DengXian, Arial, SimSun, "Segoe UI", Tahoma, sans-serif;
	font-size:14px;
	width:900px;
	overflow: auto;
}    
    
    
/********************鏍囩椤垫牱寮忎慨鏀�*****************************************/    
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #08bfc3;
    cursor: default;
    background: none;
    border: 0;
    border-bottom: 3px solid #08bfc3;
} 
.nav-tabs>li>a:hover {
    cursor: default;
    background: none;
    border: 0;
    color:#08bfc3;
}
.nav-tabs>li>a {
    margin-right: 4px;
    padding: 10px;
    border: 0;
    border-bottom: 3px solid transparent;
    color: #000;
    font-size:16px;
}
.page-tabs {
    padding: 0 20px;
    padding-top:-10px;
}
.nav-tabs {
    margin-bottom: 10px;
    border-bottom: 1px solid #cedae4;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.container .table>tbody>tr>td{
	padding-right:20px !important;
}


.cont-table .table>tbody>tr>th{
	padding-right:25px !important;
}
.cont-table .table>tbody>tr>td{
	padding-right:25px !important;
}









/***********左侧ztree展开样式*********************/
.main-fixed .page-sidebar {
    position: absolute;
    left: 15px;
    top: 72px;
    bottom: 15px;
    width: 240px;
    overflow: auto;
    background-color: #f7f8fb;
    border: 1px solid #cedae4;
    border-radius: 4px 0 0 4px;
    z-index: 10;
}
.page-sidebar-title {
    padding: 12px 10px 10px 10px;
    color: #8493a8;
    background: #eff1f5;
    border-bottom: 1px solid #cedae4;
}
.main-fixed .page-sidebar + .page-region-content {
    position: absolute;
    top: 72px;
    left: 255px;
    bottom: 15px;
    right: 15px;
    padding: 0;
    overflow: auto;
    border: 1px solid #cedae4;
    border-left: none;
    background: #ffffff;
    border-radius: 0 4px 4px 0;
}


.page-btn.navbar-fixed-bottom {
    margin: 0 auto;
    padding: 9px 15px;
    border-top: 1px solid #e2e5ed;
    background: #f7f8fb;
}
/*.menuContent .ztree li a{
	color:#000000 !important;
}
.menuContent .ztree li a:hover{
	color:#000000 !important;
}*/

/***************无权限页面样式**********************/    
.error-info {
    margin: 120px auto 30px;
    width: 500px;
}
.error-text {
    padding-top: 40px;
    width: 300px;
}
.margin-b-15 {
    margin-bottom: 15px !important;
}
.margin0 {
    margin: 0 !important;
}
.margin-b-10 {
    margin-bottom: 10px !important;
}




/*********************************/
.dl-height{
	height:35px;
	line-height:35px;
}
.gread{
	color:#008803;
}
.dl-panel-line{
	line-height:30px;
	margin-bottom:15px;
}

.left_title_notop{
	float:left; width:130px; display:block; padding-top:0px;
}
.left_title{
	float:left; width:130px; display:block; padding-top:6px;
}
.top_20{
	padding-top:45px !important;
}
.top_30{
	padding-top:60px !important;
}

.hor_width_min{
	width:210px;
}
.hor_width{
	width:260px;
}
.hor_width_max{
	width:355px;
}
.editor_accessories a{
	color:#999999;
}
.editor_accessories a:hover{
	color:#13a0a4;
}
.no-class{
	border:none !important;
}
.bottom_button{
text-align:center;margin-top:15px; margin-bottom:15px;
}
